@import "./assets/fonts.css";
@import "tailwindcss";

@theme {
    --font-default: "Lato", "sans-serif";
}

body {
    font-family: var(--font-default);
    background-color: #f3f4f6;
    color: #1f2937;
}

#root {
    min-height: 100vh;
}

#search-city::-webkit-search-cancel-button,
#search-city::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none;
}